body {
    background: url(../images/background.png);
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px 15%;
    text-align: center;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    background-color: purple;
    color: aliceblue;
}

h2 {
    font-size: 30px;
}

.playerScore {
    font-size: 30px;
}